uv_master.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2008 rel. 2 sp2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="emptyString">
    <xs:restriction base="xs:string">
      <xs:length value="0" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RStDInteger">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="12"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RStDString">
    <xs:union memberTypes="emptyString RStDInteger" />
  </xs:simpleType>
	<xs:element name="Studienjahr">
    <xs:complexType>
      <xs:attribute name="Studienjahr" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{4}/[0-9]{2}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Standort" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="255"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="VZRegelstudiendauer" use="required">
        <xs:simpleType>
          <xs:restriction base="RStDString" />
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="VZGPZWS" use="required"/>
      <xs:attribute name="VZGPZSS" use="required"/>
      <xs:attribute name="VZAufnahme" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value=""/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="VZNPZWS" use="required"/>
      <xs:attribute name="VZNPZSS" use="required"/>
      <xs:attribute name="BBRegelstudiendauer" use="required">
        <xs:simpleType>
          <xs:restriction base="RStDString" />
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="BBGPZWS" use="required"/>
      <xs:attribute name="BBGPZSS" use="required"/>
      <xs:attribute name="BBAufnahme" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value=""/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="BBNPZWS" use="required"/>
      <xs:attribute name="BBNPZSS" use="required"/>
      <xs:attribute name="VBBRegelstudiendauer" use="required">
        <xs:simpleType>
          <xs:restriction base="RStDString" />
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="VBBGPZWS" use="required"/>
      <xs:attribute name="VBBGPZSS" use="required"/>
      <xs:attribute name="VBBAufnahme" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value=""/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="VBBNPZWS" use="required"/>
      <xs:attribute name="VBBNPZSS" use="required"/>
      <xs:attribute name="Umschichtbar" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
	</xs:element>
	<xs:element name="Studiengang">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Studienjahr" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="StudiengangBezeichnung" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="150"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="UVArt" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="STG"/>
						<xs:enumeration value="A"/>
						<xs:enumeration value="VOR"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="StgKz" use="required">
				<xs:simpleType>
					<xs:union>
						<xs:simpleType>
							<xs:restriction base="xs:integer" >
								<xs:pattern value="[0-9]{4}"/>
							</xs:restriction>
						</xs:simpleType>
						<xs:simpleType>
							<xs:restriction base="xs:token">
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:union>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="StudiengangsArt" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Ba"/>
						<xs:enumeration value="Ma"/>
						<xs:enumeration value="Dipl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Foerdergruppe" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="technisch"/>
						<xs:enumeration value="wirtschaftlich"/>
						<xs:enumeration value="touristisch"/>
						<xs:enumeration value="technisch/wirtschaftlich"/>
						<xs:enumeration value="keine Förderung"/>
						<xs:enumeration value="keine Bundesförderung"/>
						<xs:enumeration value="noch keine Fördergruppe zugewiesen"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Foerdersatz" use="required">			
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Beginn" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0-9]{4}/[0-9]{2}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Ende" use="required">	
				<xs:simpleType>
					<xs:union>
						<xs:simpleType>
							<xs:restriction base="xs:string" >
								<xs:pattern value="[0-9]{4}/[0-9]{2}"/>
							</xs:restriction>
						</xs:simpleType>
						<xs:simpleType>
							<xs:restriction base="xs:token">
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:union>
				</xs:simpleType>									
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Erhalter">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Studiengang" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="ErhKz" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="24"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
